
.container-fluid{
	background-color:gray;
	border:1px solid black;
}
.navbar-brand h1{
margin-top: -10px;
color:#000;
}

#p1{
  font-weight: bold;
}
.navbar-header button.navbar-toggle{
	border:2px solid black;
      }
      .navbar-header .icon-bar{
      	border:1px solid white;
      }


@media screen and ( max-width:767px)

 {
body{ width:100%; }
.navbar {border-radius:0!important; background:gray!important; color:#000!important; border:none!important;}
.navbar a {color:#000!important;}

.navbar-collapse.in {margin-top:0px;  background:#fff;}
.navbar-collapse.in li {border:1px solid #ccc;}
.column-left{ background-color:#7F8C8D; border:1px solid black;  width:90%;   padding:0px 0px 3px 3px; margin:5px; }
.column-center{ background-color:#7F8C8D; border:1px solid black; width:90%;   padding:0px 0px 3px 3px; margin:5px;  }
.column-right{ background-color:#7F8C8D; border:1px solid black; width:90%;    padding:0px 0px 3px 3px; margin:5px;  } }

@media screen and (min-width:768px) and (max-width:997px) 
{
body{ width:100%; } 
.column-left{ background-color:#7F8C8D; float:left;  border:1px solid black;  width:45%;  padding:0px 3px 3px 3px; margin:5px; }
.column-center{background-color:#7F8C8D; float:left;  border:1px solid black; width:45%;  padding:0px 0px 3px 3px; margin:5px;  }
.column-right{ background-color:#7F8C8D; float:left;   border:1px solid black; width:92.1%;   padding:0px 0px 3px 3px;  margin:5px;  } }

@media screen and (min-width:998px)
 {
body {  width:100%;  }
.column-left{ float:left; background-color:#7F8C8D; border:1px solid black;  width:30%;  padding:0px 0px 3px 3px; margin:5px;  }
.column-center{ float:left; background-color:#7F8C8D; border:1px solid black;  width:30%;   padding:0px 0px 3px 3px;  margin:5px;  }
.column-right{  float:left;background-color:#7F8C8D; border:1px solid black; width: 30%;     padding:0px 0px 3px 3px; margin:5px;  } }

.row {background-color: gray;
height: 1000px;	
margin: 10px;	}
